@import "tailwindcss";

:root {
  --primary-color: #308a1e; /* verde oscuro */
  --secondary-color: #F59E0B; /* Amarillo */
  --accent-color: #10B981; /* Verde */
  --background-color: #F3F4F6; /* Fondo gris claro */
  --text-color: #191a19e8; /* Texto negro */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
